/* Imports */

@import url(./font.css);

/* Variables */

:root {
    /* Colors */
    --primary: #3685fb;
    --secondary: #f8f8f8;
    --blue-dark: #002248;
    --blue-light: #00b3a0;
    --text-color: #697687;
    --light: #ffffff;

    /* Font-families */

    --RBlack: "Roboto-Black";
    --RBold: "Roboto-Bold";
    --RMedium: "Roboto-Medium";
    --RRegular: "Roboto-Regular";
    --Al-Bold: "Alkatra-Bold";
    --Al-Medium: "Alkatra-Medium";
    --Al-Regular: "Alkatra-Regular";
    --Al-SemiBold: "Alkatra-SemiBold";

    /* Font-sizes */

    --xs: 1rem;
    --sm: 1.125rem;
    --md: 1.25rem;
    --lg: 2rem;
    --xl: 2.625rem;

    /* Spaces */

    --section-block: 120px;
    --transition: 0.4s;
    --border-radius: 10px;
}

/* General styles */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.container {
    max-width: 1240px;
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
}

.content,
.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

button {
    border: none;
}

.subtitle {
    color: var(--blue-light, #00b3a0);
    font-family: var(--RMedium);
    font-size: 16px;
    line-height: 18px;
    display: block;
}

.text {
    color: var(--text-color, #697687);
    font-family: var(--RRegular);
    font-size: var(--xs);
    line-height: 28px;
    text-align: justify;
}

.btn {
    color: var(--light);
    font-family: var(--RBold);
    font-size: var(--xs);
    line-height: var(--md);
    border-radius: 10px;
    background: var(--primary);
    transition: var(--transition);
    border: 1px solid transparent;
    text-transform: capitalize;
}

.btn:hover {
    cursor: pointer;
    color: var(--primary);
    background-color: var(--light);
    border-color: var(--primary);
}

/* Header start */

.page-header {
    padding-block: 27px;
    background-color: var(--secondary);
}

.header-logo {
    width: 106px;
    height: auto;
}

.header-content {
    column-gap: 60px;
}

.header-logo_img {
    width: 100%;
    object-fit: cover;
}

.header-actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 806px;
    width: 100%;
}
.header-nav {
    display: flex;
    align-items: center;
    column-gap: 40px;
}

.header-nav_links {
    color: var(--blue-dark, #002248);
    font-family: var(--RRegular);
    font-size: var(--xs);
    line-height: var(--sm);
    transition: var(--transition);
}

.header-nav_links:hover {
    color: var(--primary);
}

.header-register-btn {
    padding: 16px 28px;
}

.burger-menu {
    width: 35px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}

.burger-menu span {
    width: 100%;
    height: 2px;
    background-color: var(--blue-dark);
    position: relative;
    transition: var(--transition);
}

.burger-menu span::before,
.burger-menu span::after {
    content: "";
    position: absolute;
    top: -10px;
    width: 100%;
    height: 100%;
    background-color: var(--blue-dark);
    transition: var(--transition);
}

.burger-menu span::after {
    top: 10px;
}
/* Header end */

/* Main start */

/* Banner start */

.banner {
    padding-top: 50px;
    background-color: var(--secondary);
}

.banner-content {
    column-gap: 43px;
}

.banner-image {
    display: flex;
    align-items: end;
    max-width: 578px;
    width: 100%;
    position: relative;
}

.big-img {
    max-width: 400px;
    width: 100%;
    height: 540px;
    border-radius: 570px;
    border: 10px solid #fff;
    overflow: hidden;
}

.big-img_image {
    display: block;
}

.small-img {
    max-width: 330px;
    width: 100%;
    border-radius: 570px;
    border: 10px solid #fff;
    height: 430px;
    overflow: hidden;
    position: absolute;
    right: 0;
    bottom: -57px;
}

.banner-info_subtitle {
    margin-bottom: 15px;
}

.banner-info_title {
    color: var(--blue-dark, #002248);
    font-family: var(--Al-SemiBold);
    font-size: 60px;
    font-style: normal;
    font-weight: 550;
    line-height: 72px; /* 120% */
    text-transform: capitalize;
    margin-bottom: 20px;
}

.banner-info_btn {
    padding: 20px 46px;
    margin-top: 50px;
}
/* Banner end */
/* Main end */
